@import 'utils',
        'sidebar',
        'table';
body{
  background-color: rgba(158,158,158,0.02);
  padding-left: 250px;
}
.pagination{
  input{
    display: inline-block;
    &[type=number]{
      width: 80px;
    }
  }
}