
table{
  width: 100%;
  border: 1px solid #f1f1f1;
  border-collapse: collapse;
  th,td{
    padding: 7px 10px;
  }
  thead{
    tr{
      background-color: transparent !important;
    }
    th{
      border: 1px solid #f1f1f1;
    }
  }
  tr{
    td{
      border: 1px solid #f1f1f1;
    }
  }
}